<p>home works!</p>



<h4>Basic native select</h4>
<!-- <mat-form-field>
  <mat-label>Starting Systems</mat-label>
  <select matNativeControl required>
    <option value="v1">{{starting_systems[0]}}</option>
    <option value="v2">{{starting_systems[1]}}</option>
    <option value="v3">{{starting_systems[2]}}</option>
    <option value="v4">{{starting_systems[3]}}</option>
    <option value="v5">{{starting_systems[4]}}</option>

  </select>
</mat-form-field>
-->

<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select [(ngModel)]="starting_system" name="starting system">
    <mat-option *ngFor="let starting_system of starting_systems" [value]="starting_system.value">
      {{starting_system.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{starting_system}}</p>




