section {
  margin: 0.5vw;
}

.selection-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.status-group {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.selection-container {
  border-radius: 5px;
  margin: 0.5vw;
  padding: 0.5vw;
  justify-content: flex-start !important ;

  .selection-progress {
    width: 35%;
    margin: 0 2vw 1vh 2vw;

    .mat-mdc-progress-bar {
      height: 1vh;
      border-radius: 5px;
    }
  }
}

.custom-progress-bar {
  background: #297ae3;
}

.results-container {
  margin: 0.5vw;
  padding: 0.5vw;
}

.states {
  font-weight: bold;
}

.button {
  height: 52px;
  width: 140px;
  font-weight: bold;
}

p {
  font-size: 18px;
}

hr {
  margin: 0vw;
  width: 25%;
}

/* background: #297AE3;*/
